[submodule "dependencies/raylib"]
	path = dependencies/raylib
	url = https://github.com/vedangasDARKNINJA/raylib.git
[submodule "dependencies/enet"]
	path = dependencies/enet
	url = https://github.com/zpl-c/enet.git
[submodule "dependencies/cppack"]
	path = dependencies/cppack
	url = https://github.com/mikeloomisgg/cppack.git
